@tailwind base;
@tailwind components;
@tailwind utilities;

/* Board üzerindeki sürükleme hissini artırmak için ufak bir ek */
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Uygulamanın kendi scroll'u var */
}
